@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --apricot: #ffcab1;
  --dutch-white: #ecdcb0;
  --tea-green: #c1d7ae;
  --pistachio: #8cc084;
  --battleship-grey: #968e85;
}

* {
  background-color: var(--off-white);
  font-family: 'Montserrat', sans-serif;
}

.kenneltech {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: -1px;
}

/* .navbar {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 5px solid var(--battleship-grey);
    border-radius: 10px;
    max-width: 2000px;
    margin-top: auto;
    max-width: 1400px;
    margin-top: 20px auto;
    margin-left: auto;
    margin-right: auto;
} */

/* .navlist {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    flex-direction: row;
    padding: 0;
    margin: 0;
} */

/* .navlist li a {
    padding: 10px;
    border: 2px solid var(--battleship-grey);
    text-decoration: none;
    color: var(--battleship-grey);
    font-weight: 600;
    border-radius: 8px;
    word-break: keep-all;
    width: 75px;
    text-align: center;
} */

/* .card {
    border: 5px solid var(--tea-green);
    border-radius: 10px;
    box-shadow: 5px 5px 5px var(--battleship-grey);
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 500px;
    height: 400px;
}
.card h3 {
    margin: 10px 0; 
} */

.container {
    border-radius: 8px;
    border-color: black;
    border-style: solid;
    background-color: var(--battleship-grey);
}


 /* .dog-cards {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
} */

.doginfo-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.doginfo-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dog-params {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}